<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Down Interval" value="3000" />
    <add key="Up Interval" value="1500" />
    <add key="Add Value" value="2" />
    <add key="Subtract Value" value="3" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>